@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    /* main-font */
    font-family: "Quicksand", sans-serif;

    /* remove-default margin */
    margin: 0;
    padding: 0;
  }

.container{
    padding: 0 42px;
}

header .top-header{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .top-header img {
    width: 90px;
}

header .jumbotron{
    height: 580px;
    background-image: url(../assets/images/jumbotron-image.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.sub-title{
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.jumbotron h1{
    font-size: 64px;
    font-weight: 600;
    color: white;
    line-height: 95%;
}

.countries-date{
    display: flex;
    margin-top: 15px;
}

.countries-date img{
    width: 72px;
    height: 48px;
    margin-right: 15px;
}

.countries-date h4{
    font-size: 32px;
    font-weight: 600;
    color: white;
}

/* main */
main{
   display: flex;
}

main #content{
    width: 70%;
    padding-bottom: 50px;
}
/* content */
article section {
    margin-top: 20px;
}

.race-result {
    margin-top: 20px;
    display: flex;
}

.img-result{
    width: 330px;
}

article .desc-sprint-race{
    padding: 0 15px 0 0;
}

article .desc-main-race{
    padding: 0 0 0 15px;
}

article section h2{
    font-size: 32px;
    font-weight: 600;
}
article section p{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}

/* aside */
main aside{
    background-color: rgb(192, 228, 135);
    width: 30%;
}
/* footer */
footer .upper-footer{
    background-color: rgb(157, 245, 245);
    height: 200px;
}
footer .lower-footer{
    background-color: rgb(53, 96, 235);
    height: 50px;
}

/* mobile */
@media only screen and (max-width: 600px) { 
    /* utility */
    .container{
        padding: 0 20px;
    }

    /* Header */
    header .top-header img {
        width: 65px;
    }
    
    header .jumbotron{
        height: 250px;
    }

    .sub-title{
        font-size: 20px;
    }
    
    .jumbotron h1{
        font-size: 30px;
    }
    
    .countries-date{
        margin-top: 8px;
    }
    
    .countries-date img{
        width: 41px;
        height: 27px;
        margin-right: 10px;
    }
    
    .countries-date h4{
        font-size: 20px;
        font-weight: 600;
        color: white;
    }

    /* main */
    main{
        display: flex;
        flex-direction: column;
    }
}
