@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    /* main-font */
    font-family: "Quicksand", sans-serif;

    /* remove-default margin */
    margin: 0;
    padding: 0;
  }

.container{
    padding: 0 42px;
}

header .top-header{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .top-header img {
    width: 90px;
}

header .jumbotron{
    height: 580px;
    background-image: url(../assets/images/jumbotron-image.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.sub-title{
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.jumbotron h1{
    font-size: 64px;
    font-weight: 600;
    color: white;
    line-height: 95%;
}

.countries-date{
    display: flex;
    margin-top: 15px;
}

.countries-date img{
    width: 72px;
    height: 48px;
    margin-right: 15px;
}

.countries-date h4{
    font-size: 32px;
    font-weight: 600;
    color: white;
}

/* main */
main{
   display: flex;
}

main #content{
    width: 70%;
    padding-bottom: 50px;
}
/* content */
article section {
    margin-top: 20px;
}

.race-result {
    margin-top: 20px;
    display: flex;
}

.img-result{
    width: 330px;
    object-fit: contain; 
}

article .desc-sprint-race{
    margin-right: 15px;
}

article .desc-main-race{
    margin-left: 15px;
}

section .sub-title{
    font-size: 20px;
    color: black;
    font-weight: 500;
}
article section h2{
    font-size: 32px;
    font-weight: 600;
}
article section p{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}

/* aside */
aside{
    background-color: rgb(192, 228, 135);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h3{
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

aside .list{
    background-color: gray;
    padding: 20px;
}


.rider{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



.name-team,.point-desc{
    display: flex;
    flex-direction: column;
}

.flag-country{
    display: flex;
    flex-direction: row;
    align-items: center;
}

    /* position */
    .position{
        font-size: 32px;
        font-weight: 500;
        min-width: 40px;
    }

    .name-team {
        min-width: 170px;
    }
    
    .point-desc{
        min-width: 40px;
        text-align: center;
    }


    .name-team .name {
        font-size: 18px;
        font-weight: 500;
    }
    .name-team .team{
        font-size: 14px;
        font-weight: 400;
    }
    .point-desc desc{
        font-size: 16px;
        font-weight: 400;
    }

    /* flag-country */
    .flag-country img{
        width: 42px;
        height: 28px;
        margin-right: 10px;
    }


/* user-job_titile */
    .user-profile{
        padding: 20px;
        display: flex;
        align-items: center;
    }

    .user-profile img{
        width: 50px;
        border: 1px solid black;
        border-radius: 100%;
        margin-right: 20px;
    }

    .name-job_title .name{
        font-size: 16px;
        font-weight: 500;
    }

/* footer */
/* upper */
footer .upper-footer{
    display: flex;
    padding: 20px 190px;
    justify-content:space-between;
}
footer .group-link{
    display: flex;
    flex-direction: column;
}
footer .group-link a{
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

footer .group-link a:hover{
    text-decoration:underline;
}

/* lower */
footer .lower-footer{
    border-top: 1px solid rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer .lower-footer p{
    font-size: 14px;
    font-weight: 400;
    color: black;
}

/* mobile & tablet */
@media only screen and (max-width: 900px) { 
    /* utility */
    .container{
        padding: 0px;
    }

    section, .jumbotron, aside p    {
        padding: 15px;
    }

    /* Header */
    header .top-header img {
        width: 65px;
    }
    
    header .jumbotron{
        height: 250px;
    }

    .sub-title{
        font-size: 20px;
    }
    
    .jumbotron h1{
        font-size: 30px;
    }
    
    .countries-date{
        margin-top: 8px;
    }
    
    .countries-date img{
        width: 41px;
        height: 27px;
        margin-right: 10px;
    }
    
    .countries-date h4{
        font-size: 20px;
        font-weight: 600;
        color: white;
    }

    /* main */
    main{
        flex-direction: column;
    }

    /* #content */
    main #content{
        width: 100%;
    }

    .race-result {
        margin-top: 20px;
        flex-direction: column;
    }

    .race-result .img-result{
        order: 1;
        width: 100%; 
        margin-bottom: 20px;
    }

    .race-result .desc-sprint-race, .race-result .desc-main-race{
        order: 2;
        margin: 0;
        width: 100%;
    }

    section p{
        text-align: justify;
    }

    /* aside */
    main aside{
        width: 100%;
    }

    /* footer */

    /* upper */
    footer .upper-footer{
        padding: 10px 0 30px;
        text-align: center;
        flex-direction: column;
    }

    footer .group-link{
        flex-direction: column;
        margin-top: 20px;
    }
    footer .group-link a{
        font-size: 14px;
    }
    /* lower */
    footer .lower-footer{
        padding: 15px;
    }
}


